#page-content {
    display: grid;
    grid-template-columns: minmax(220px, 0.36fr) minmax(195px, .25fr) minmax(320px, 1.25fr);
    grid-template-areas: "papers codepen github";
    gap:0rem;
    min-height: 100vh;
}

.column-title {
  color: black;
  grid-column: 1/-1;
  font-size: larger;
  margin: 0;
  padding: 0;
  padding-left:0px;
  text-align: center;
  opacity: 1;
  border-bottom: 2px solid rgba(0, 0, 0, .75);
  font-weight: bold;
  width:100%;
  height:auto;
  align-self: start;
  line-height: 2;
  position:sticky;
  top:0;
  background-color: white;
  z-index:10;
  
}

/*Math papers column placement*/

/*Code pen column placement*/

/*GitHub column placement*/




.fa-codepen {
  font-size:.8rem;
}

.fa-globe {
  
  font-size:.65rem;
}

.fa-github {
  
  font-size:15px;
}

.language-icon {
  width: 24px;
  height: 24px;
    
}

body {
  min-height:100vh;
  
}

@media (max-width: 900px) {
  #page-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "papers"
      "codepen"
      "github";
  }
}


