

header {
  z-index:1000;
  display: flex;
  
  height: auto;
  width: 100%;
  background-color: #e8ecf2;
  position: sticky;
  position: -webkit-sticky;
  top:0;
  justify-content:space-between;
  border-bottom: .1vw solid #d1d9e0;
}

#author {
  /*border:2px solid black;*/
  margin-top:1.25vw;
  padding: 0 1vw;
}

nav {
  text-align:right;
  display: flex;
  gap:.1vw;
}

.nav-link {
  /*border:2px solid black;
  border-radius:8px;
  */
  padding:1.25vw;
  position:relative;
  text-decoration: none;
  color: black;
  transition: background-color .2s ease;
}

.nav-link:hover{
  background-color:rgba(0,0,0,.1);
  cursor: pointer;
  /*padding-bottom:10px;*/
  border-radius: .7vw;
  /*padding-top:-10px;*/
  /*transition: border-radius .2s ease;*/
  
}

@keyframes expand {
  to {
    transform: scaleX(1px);
  }
}

.nav-link.active {
  /*border:none;
  transform: scaleX(0px);
  border-bottom: 2px solid black;
  border-radius:0;
  margin-bottom:-1px;
  animation: expand 1s forwards;*/
}

.nav-link::after {
  content: "";

  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;

 
  height: 2px;

  background: #59636e;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s ease;
}

.nav-link.active::after {
  transform: scaleX(1);
}

body {
  margin: 0px;
  padding:0px;
}

@media (max-width: 900px) {
  
}
